@import "../../sass/global";

.artworkContainer {
  margin-top: 3em;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3em;
  hr {
    // background-color: rgb(243, 192, 192);
    border: 0px;
    border-top: 6px dotted $lightgray;
    height: 3px;
    width: 50%;
  }
  .artwork {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 2em;
    img {
      width: 40%;
      height: auto;
      border-radius: 0.375rem;
      border: 1px lightgray solid;
    }
    .artworkInfo {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      width: 45%;
      p {
        font-weight: $thin;
        font-size: $font-size-p-sm;
      }
    }
  }
}
