@import "../../sass/global";

.home {
  background-color: $white;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
 img {
  width: 40%;
  height: auto;
 }
  h2 {
    width: 70%;
    margin: 0;
    color: $black;
    font-weight: $thin;
    font-size: $font-size-h3;
    text-align: center;
    a {
      text-decoration: underline;
      &:hover {
        background-color: black;
        color: $white;
        transition: 0.3s;
      }
    }
  }
  p {
    margin: 0;
    color: $black;
    font-size: $font-size-p-lg;
    font-weight: $extra-thin;
    text-align: center;
    width: 70%;
  }
}
